.scrolling {
  height:600px;
  overflow-y: scroll;
}
.calendar{
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 100px;
  flex: 100px;
  overflow: hidden;
  height: 100%;
}
