.scrolling {
  height:600px;
  overflow-y: scroll;
}
.calendar{
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 100px;
  flex: 100px;
  overflow: hidden;
  height: 100%;
}
body{
  background-color: #F0EBDF;
}
footer{
  background-color: #252C3F;
}
.backcolonav{
  background-color: #252C3F;
}
.ctext{
  color: #F0EBDF;
}
.colorBut{
  background-color: #5B3C27
}
i{
  color: #F0EBDF;
}
.footer-copyright{
  color: #F0EBDF;
}
.page-footer{
  background-color: #252C3F;
}
