.scrolling {
  height:600px;
  overflow-y: scroll;
}
.calendar{
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 100px;
  flex: 100px;
  overflow: hidden;
  height: 100%;
}
body{
  background-color: #fff;
}
footer{
  background-color: #4ABDAC;
}
.backcolonav{
  background-color: #4ABDAC;
}
.ctext{
  color: #fff;
}
h1{
  color: #FC4A1A;
}
label{
  color: #F7B733;
}
i{
  color: #F0EBDF;
}
.footer-copyright{
  color: #fff;
}
.page-footer{
  background-color: #4ABDAC;
}
.dtext{
  color: #FC4A1A;
}

button.btn {
  background-color: #F7B733;
  border-color: #F7B733;
}
button.btn:hover {
  background-color: #FC4A1A;
  border-color: #FC4A1A;
}
button.btn:focus,
button.btn.focus {
  box-shadow: none;
  background-color: #FC4A1A;
  border-color: #FC4A1A;
}
